.App{
  display:flex;
  flex-direction:column;
  flex-basis:100%;
  max-width: 100%;
  padding:  var(--size-px-3);

  .Header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: auto;
    z-index: 10;
    display: flex;
    flex-basis: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--yellow-5);
  }
  .HeaderContent{
    display: flex;
    flex-basis: 100%;
    margin: 0 var(--size-3);
   
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      justify-self: center;
    
   
   
  }
  .Scrollable{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position:absolute;
    top: var(--header-height);
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
  }
  .MainContent{
    margin: 0 var(--size-3);
  }
  .Title{
    margin-bottom: var(--size-2);
  }
}