:root{
  --font-primary: var(--font-neo-grotesque);
  --font-weight-thin: var(--font-weight-1);
  --font-weight-regular: var(--font-weight-3);
  --font-weight-embossed: var(--font-weight-8);


  /*colors*/
  --text-color-primary: var(--gray-0);
  --text-color-secondary: var(--gray-4);
  --text-color-tertiary: var(--gray-6);
  --text-color-inverted: var(--gray-7);

  --background-color-dark: var(--gray-9);
  --background-color-surface: var(--gray-7);

  /*sizes*/
  --header-height: 140px;
}